<table style="border-collapse:collapse; border:none;">
<caption style="font-weight: bold; text-align:left;">Study Summary</caption>
<tr>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; text-align:left; ">Cohort</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Number.of.Patients</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Complete.Response....</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Partial.Response....</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Stable.Disease....</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Progressive.Disease....</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col7">Age..Average.</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col8">Male....</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col9">Female....</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; 0">Mutations.Per.Eligible.MB..Average.</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; 1">Tumor.Type.s.</th>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Snyder et al., 2014</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">32</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">56</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">44</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">60</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col8">72</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col9">28</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 0">20.80</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 1">Melanoma</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Van Allen et al., 2015</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">105</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">13</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">11</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">72</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">58</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col8">71</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col9">29</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 0">25.40</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 1">Melanoma</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Rizvi et al., 2015</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">33</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">36</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">30</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">33</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">62</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col8">45</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col9">55</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 0">8.90</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 1">Lung</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Hugo et al., 2016</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">38</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">18</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">37</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">45</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">61</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col8">71</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col9">29</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 0">21.50</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 1">Melanoma, Lung</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Roh et al., 2017: anti-CTLA4 cohort</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">19</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">11</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">89</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">59</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col8">63</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col9">37</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 0">42.50</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 1">Melanoma</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Roh et al., 2017: anti-PD1 cohort</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">14</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">14</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">86</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">52</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col8">57</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col9">43</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 0">38.80</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 1">Melanoma</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; border-bottom: double; ">Miao et at., 2018</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">78</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">5</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">26</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">29</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">40</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; col7">63</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; col8">56</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; col9">44</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; 0">11.70</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; 1">Bladder, Lung, Head and Neck Squamous, Melanoma</td>
</tr>
<tr>
<td colspan="12" style="font-style:italic; border-top:double black; text-align:right;">Numbers in this table are rounded to the nearest whole or tenth of a number and thus percentiles may not sum to 100.</td>
</tr>
</table>

