<table style="border-collapse:collapse; border:none;">
<caption style="font-weight: bold; text-align:left;">Study Summary</caption>
<tr>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; text-align:left; ">Cohort</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Number.of.Patients.in.Study</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Total.High.Mutations</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">High.Mutations.per.Patient</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Total.Moderate.Mutations</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Moderate.Mutations.per.Patient</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col7">Total.Low.Mutations</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col8">Low.Mutations.per.Patient</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col9">Total.Modifier.Mutations</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; 0">Modifier.Mutations.per.Patient</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; 1">Included.in.Low.and.Modifier.Analysis</th>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Snyder et al., 2014</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">32</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1648</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">51.50</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">18620</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">581.88</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">47</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col8">1.47</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col9">20</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 0">0.62</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 1">No</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Rizvi et al., 2015</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">23</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">832</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">36.17</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">8069</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">350.83</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">15</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col8">0.65</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col9">11</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 0">0.48</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 1">No</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Van Allen et at., 2015</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">93</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">4249</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">45.69</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">43297</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">465.56</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">24525</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col8">263.71</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col9">9311</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 0">100.12</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 1">Yes</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Hugo et al., 2016</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">38</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2114</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">55.63</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">22264</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">585.89</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">211</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col8">5.55</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col9">364</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 0">9.58</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 1">No</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Roh et al., 2017: anti-CTLA4 cohort</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">19</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1390</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">73.16</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">14168</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">745.68</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">8211</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col8">432.16</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col9">859</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 0">45.21</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; 1">Yes</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Roh et al., 2017: anti-PD1 cohort</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">12</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">862</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">71.83</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">9609</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">800.75</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">5466</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col8">455.50</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col9">625</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 0">52.08</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; 1">Yes</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; border-bottom: double; ">Miao et at., 2018</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">55</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">2121</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">38.56</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">17226</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">313.20</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; col7">7709</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; col8">140.16</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; col9">810</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; 0">14.73</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; 1">Yes</td>
</tr>
</table>

