<table style="border-collapse:collapse; border:none;">
<caption style="font-weight: bold; text-align:left;">Regression Significant Pathways</caption>
<tr>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; text-align:left; ">setname</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">val</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">OR</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">X2.5..</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">X97.5..</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">p</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col7">st_err</th>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">MAP2K and MAPK activation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.6580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.2470</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.9630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">16.4730</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0020</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5360</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Paradoxical activation of RAF signaling by kinase inactive BRAF</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.5730</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">4.8210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.8370</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">14.7240</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0030</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.5240</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">RAF activation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.4310</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">4.1830</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.7090</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">11.3870</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0030</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4790</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by FGFR2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.0230</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">7.5630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.3870</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">31.1610</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0020</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.6430</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by high-kinase activity BRAF mutants</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.6950</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.4480</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.0490</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">17.0230</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0010</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5330</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by moderate kinase activity BRAF mutants</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.5730</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">4.8210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.8370</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">14.7240</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0030</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.5240</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">DNA Damage/Telomere Stress Induced Senescence</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-1.1630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.3130</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.1370</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.6770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0040</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4060</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Negative regulation of MAPK pathway</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.2010</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3.3220</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.4080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">8.4970</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4550</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by FGFR3</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.3000</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3.6690</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.4630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">10.3540</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4940</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by FGFR4</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.3040</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3.6830</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.4580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">10.4550</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0090</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4970</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Negative feedback regulation of MAPK pathway</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.6380</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.2710</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.6230</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0100</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.3780</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by FGFR</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.6350</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">5.1320</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.5510</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">21.4310</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0130</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.6590</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">p53-Dependent G1 DNA Damage Response</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.9450</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.3890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.1770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0150</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.3900</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">p53-Dependent G1/S DNA damage checkpoint</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.9450</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.3890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0150</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3900</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Activated NTRK2 signals through FRS2 and FRS3</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8220</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.2760</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.1270</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">4.6980</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0230</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.3620</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Activated NTRK2 signals through RAS</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8060</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.2380</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.1070</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">4.6250</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0260</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3630</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Integrin cell surface interactions</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.2780</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3.5890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.2540</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">11.1810</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5530</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by NTRK2 (TRKB)</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.3580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.1150</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">5.1410</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0270</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3880</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by PDGF</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.1940</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3.2990</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.2270</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">9.8590</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0230</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5260</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Stabilization of p53</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.8450</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4300</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1980</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8970</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0280</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3830</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">TP53 Regulates Transcription of Cell Death Genes</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.8970</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.1800</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8840</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0270</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4050</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">TP53 regulates transcription of several additional cell death genes whose specific roles in p53-dependent apoptosis remain uncertain</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.8660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1940</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8750</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0240</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3830</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Transcriptional  activation of  cell cycle inhibitor p21</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.9770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.3760</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.1600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8430</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4220</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Transcriptional activation of p53 responsive genes</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.9770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.3760</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8430</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4220</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signalling to ERKs</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0100</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.7460</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.1370</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">7.1700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0300</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4660</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">TP53 Regulates Transcription of Caspase Activators and Caspases</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.8500</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4280</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1900</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.9190</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0340</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4000</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Formation of Senescence-Associated Heterochromatin Foci (SAHF)</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.7730</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4620</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2160</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9520</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0410</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.3770</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">RUNX3 regulates CDKN1A transcription</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7920</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4530</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2090</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.9470</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0390</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3840</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by NTRKs</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.1900</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3.2880</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">11.6290</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0450</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5950</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by FGFR1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.9780</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.6590</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0480</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">7.4080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0480</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4940</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Activation of NMDA receptor and postsynaptic events</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9000</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.4600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0100</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">6.3610</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0530</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4660</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">VEGFA-VEGFR2 Pathway</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.9290</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.5320</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">6.8080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0550</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4840</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Activation of NOXA and translocation to mitochondria</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.7770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2010</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0100</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0590</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4110</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Activation of PUMA and translocation to mitochondria</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7110</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2260</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0300</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3860</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Assembly of collagen fibrils and other multimeric structures</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0860</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.9640</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">9.7910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5770</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">CD28 dependent Vav1 pathway</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7640</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2020</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0340</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4150</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Cell surface interactions at the vascular wall</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9690</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.6360</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9820</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">7.7030</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5210</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by FGFR2 in disease</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.6900</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.9940</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.9630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">4.2120</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0650</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3750</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">TP53 Regulates Transcription of Genes Involved in G1 Cell Cycle Arrest</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.7160</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2220</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0400</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0690</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.3930</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Chaperonin-mediated protein folding</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1930</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4350</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Collagen chain trimerization</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0180</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.7670</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9150</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">9.2410</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0810</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5830</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Collagen formation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.1580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3.1830</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.9510</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">12.8240</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0750</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.6510</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">PI5P Regulates TP53 Acetylation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.7080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4930</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2190</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0780</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4020</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Regulation of TP53 Expression</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7360</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4790</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0750</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4130</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Scavenging by Class A Receptors</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.7380</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4780</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2050</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0820</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0810</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4230</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Autodegradation of the E3 ubiquitin ligase COP1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.6550</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.5200</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2430</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0760</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0840</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3780</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">FMO oxidises nucleophiles</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.7450</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.1060</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8970</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.0320</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4380</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Protein folding</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7530</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4710</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1930</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.1130</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4450</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Regulation of TP53 Activity through Association with Co-factors</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.6550</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.5200</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2420</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0790</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0850</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.3810</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by BRAF and RAF fusions</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.4380</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8990</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">7.3350</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0920</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.5300</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by NTRK1 (TRKA)</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8980</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.4550</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9040</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">7.4310</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5310</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Collagen biosynthesis and modifying enzymes</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0160</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.7630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8620</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">10.0400</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1000</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.6170</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by the B Cell Receptor (BCR)</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.7650</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.1500</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8760</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.5200</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.1010</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4660</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; border-bottom: double; background-color:#f2f2f2; ">Signaling by FGFR4 in disease</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; background-color:#f2f2f2; ">0.5700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; background-color:#f2f2f2; ">1.7690</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; background-color:#f2f2f2; ">0.8890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; background-color:#f2f2f2; ">3.5530</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; background-color:#f2f2f2; ">0.1050</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; background-color:#f2f2f2; col7">0.3520</td>
</tr>
</table>

