<table style="border-collapse:collapse; border:none;">
<caption style="font-weight: bold; text-align:left;">Significant Deduped Pathways that Overlap with the CRISPR Screen</caption>
<tr>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; text-align:left; ">Pathway</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Number_of_Overlapping_Genes</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">q</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">sig</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Genes_Overlapping</th>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">p53-Dependent G1 DNA Damage Response</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">10</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.00026</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">psmb5, psma6, psmc2, psmd7, psma5, uba52, psmb2, psma7, ccne1, psmb4</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Activation of NOXA and translocation to mitochondria</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.00477</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">pmaip1, e2f1</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Scavenging by Class A Receptors</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.01882</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">calr, apoe, colec12</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Integrin cell surface interactions</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">6</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.02790</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">icam1, itga2b, fgg, itgb1, col18a1, vtn</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Chaperonin-mediated protein folding</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">7</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.04908</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">gnb3, csnk2b, tuba1c, gnat2, ccne1, nop56, tubb2b</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">RUNX3 regulates CDKN1A transcription</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.05872</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">zfhx3</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">MAP2K and MAPK activation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.08057</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">braf, itga2b, fgg</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">DNA Damage/Telomere Stress Induced Senescence</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">4</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.10003</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">hist1h2bo, ccne1, hist1h2bk, h2afv</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Regulation of TP53 Activity through Association with Co-factors</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.10872</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">akt3</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signalling to ERKs</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.10872</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">crkl, braf</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Negative regulation of MAPK pathway</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.15750</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">braf, uba52</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">TP53 Regulates Transcription of Cell Death Genes</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.18393</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">pmaip1, casp2</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by FGFR2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.20444</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">braf, fgf4, uba52</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by PDGF</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.20444</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">crkl, stat1</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Assembly of collagen fibrils and other multimeric structures</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.22342</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">col5a1, col18a1</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Activation of NMDA receptor and postsynaptic events</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.23980</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">braf</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; border-bottom: double; ">Cell surface interactions at the vascular wall</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">3</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">0.52534</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">0</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">cd58, itgb1, tek</td>
</tr>
</table>

