<table style="border-collapse:collapse; border:none;">
<caption style="font-weight: bold; text-align:left;">Significant Deduped Pathways</caption>
<tr>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; text-align:left; ">setname</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">val</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">OR</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">X2.5..</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">X97.5..</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">p</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; col7">st_err</th>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">MAP2K and MAPK activation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.6580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.2470</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.9630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">16.4730</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0020</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5360</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Signaling by FGFR2</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.0230</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">7.5630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.3870</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">31.1610</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0020</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.6430</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">DNA Damage/Telomere Stress Induced Senescence</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-1.1630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.3130</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.1370</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.6770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0040</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4060</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Negative regulation of MAPK pathway</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.2010</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3.3220</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.4080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">8.4970</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4550</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">p53-Dependent G1 DNA Damage Response</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.9450</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.3890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.1770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.8210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0150</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.3900</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Integrin cell surface interactions</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.2780</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3.5890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.2540</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">11.1810</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0210</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.5530</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signaling by PDGF</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.1940</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3.2990</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.2270</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">9.8590</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0230</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5260</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">TP53 Regulates Transcription of Cell Death Genes</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.8970</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1800</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8840</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0270</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4050</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Signalling to ERKs</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0100</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.7460</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.1370</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">7.1700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0300</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4660</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">RUNX3 regulates CDKN1A transcription</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7920</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4530</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2090</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.9470</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0390</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.3840</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Activation of NMDA receptor and postsynaptic events</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9000</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.4600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0100</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">6.3610</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0530</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4660</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Activation of NOXA and translocation to mitochondria</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2010</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0100</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0590</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4110</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Assembly of collagen fibrils and other multimeric structures</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0860</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.9640</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">9.7910</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0600</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5770</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">CD28 dependent Vav1 pathway</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7640</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2020</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0340</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4150</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Cell surface interactions at the vascular wall</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9690</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.6360</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.9820</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">7.7030</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.5210</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Chaperonin-mediated protein folding</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4630</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.1930</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0700</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0770</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4350</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">PI5P Regulates TP53 Acetylation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.7080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4930</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2190</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0660</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0780</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4020</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Regulation of TP53 Expression</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.7360</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.4790</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.2080</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.0580</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0750</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4130</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Scavenging by Class A Receptors</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.7380</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.4780</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.2050</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.0820</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.0810</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; col7">0.4230</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">FMO oxidises nucleophiles</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.7450</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.1060</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.8970</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">5.0320</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.0890</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; col7">0.4380</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; border-bottom: double; ">Regulation of TP53 Activity through Association with Co-factors</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">-0.6550</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">0.5200</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">0.2420</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">1.0790</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">0.0850</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; col7">0.3810</td>
</tr>
</table>

