<table style="border-collapse:collapse; border:none;">
<tr>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; text-align:left; ">Row</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Estimate</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Std..Error</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">z.value</th>
<th style="border-top: double; text-align:center; font-style:italic; font-weight:normal; padding:0.2cm; border-bottom:1px solid black; ">Pr...z..</th>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">(Intercept)</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-5.21</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.29</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-4.03</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.48e-05</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">BCLAF1</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-1.65</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.56</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-2.96</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3.12e-03</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">BRAF</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.71</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.39</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.83</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">6.78e-02</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">KRAS</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.00</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.72</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.39</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.65e-01</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">TP53</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.19</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.05</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.19</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">8.53e-01</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Activation_of_NOXA_and_translocation_to_mitochondria</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.50</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.84</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.59</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">5.55e-01</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Chaperonin_mediated_protein_folding</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.11</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.41</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.26</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">7.94e-01</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Integrin_cell_surface_interactions</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.02</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.48</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.12</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">3.39e-02</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">MAP2K_and_MAPK_activation</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.38</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.48</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">2.89</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">3.84e-03</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">RUNX3_regulates_CDKN1A_transcription</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.21</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.56</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.37</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">7.10e-01</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Scavenging_by_Class_A_Receptors</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.73</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.38</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-1.91</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">5.65e-02</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">p53_Dependent_G1_DNA_Damage_Response</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.84</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.42</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-2.01</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">4.47e-02</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Age</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.03</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">0.01</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.97</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">4.91e-02</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">TMB_HIMP</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.46</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.17</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">2.81</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">4.97e-03</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; ">Tumor_TypeHead_and_Neck_Squamous</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.54</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">1.04</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">-0.52</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; ">6.05e-01</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; background-color:#f2f2f2; ">Tumor_TypeLung</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-0.86</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">0.64</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">-1.34</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; background-color:#f2f2f2; ">1.80e-01</td>
</tr>
<tr>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:left; border-bottom: double; ">Tumor_TypeMelanoma</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">-2.22</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">0.63</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">-3.53</td>
<td style=" padding:0.2cm; text-align:left; vertical-align:top; text-align:center; border-bottom: double; ">4.22e-04</td>
</tr>
</table>

